.content .elso
{
    display: flex;
    max-width: 80%;
    margin: auto auto;
    margin-top: 1vw;
    border: 0.3vw solid #666;
    border-radius: 10px;
    padding: 0.4vw;
    transition: transform 0.2s ease-out; 
    color: var(--text-color);

    &:hover
    {
        transform: scale(1.05);
    }
}

.content .elso img
{
    width: auto;
    height: 15vw;
    border-radius: 5px;
}